body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 196, 196);
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
}

#character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.125rem;
    height: 3.125rem;
}

#character img{
    left: -0.625rem;
    width: 100%;
    height: 100%;
}

.obs1{
    position: absolute;
    top:18.75rem;
    left: 18.75rem;
}

.obs2{
    position: absolute;
    top:18.75rem;
    left: 37.5rem;
}

.obs3{
    position: absolute;
    top:28.125rem;
    left: 18.75rem;
}

.obs4{
    position: absolute;
    top:28.125rem;
    left: 37.5rem;
}
.obstaculo{
    width: 100%;
    height: 100%; 
    background-image: url(pedregulho.jpg);
    background-size: contain;
}




    
    .parent {
        padding-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0rem;
        grid-row-gap: 0rem;
        width: 100%;
        height: 98%;
        ;
        }
        
        .div1 { grid-area: 2 / 1 / 3 / 2;}
        .div2 { grid-area: 2 / 3 / 3 / 5;}
        .div3 { grid-area: 2 / 6 / 3 / 8;}
        .div4 { grid-area: 2 / 9 / 3 / 10;}
        .div5 { grid-area: 2 / 11 / 3 / 12;}
        .div6 { grid-area: 4 / 1 / 5 / 3;}
        .div7 { grid-area: 4 / 4 / 5 / 6;}
        .div8 { grid-area: 4 / 7 / 5 / 8;}
        .div9 { grid-area: 4 / 9 / 5 / 10; }
        .div10 { grid-area: 6 / 1 / 7 / 2; }
        .div11 { grid-area: 6 / 3 / 7 / 6; }
        .div12 { grid-area: 6 / 7 / 7 / 10; }
        .div13 { grid-area: 8 / 10 / 9 / 13; }
        .div14 { grid-area: 6 / 11 / 7 / 12; }
        .div15 { grid-area: 4 / 11 / 5 / 13; }
        .div16 { grid-area: 8 / 5 / 9 / 7; }
        .div17 { grid-area: 8 / 1 / 9 / 4; }
        .div18 { grid-area: 8 / 1 / 9 / 2; }
        .div19 { grid-area: 10 / 3 / 11 / 7; }
        .div20 { grid-area: 10 / 8 / 11 / 12; }
        .div21 { grid-area: 10 / 1 / 11 / 2; }
        .div22 { grid-area: 3 / 3 / 4 / 4; }
        .div23 { grid-area: 3 / 10 / 4 / 11; }
        .div24 { grid-area: 7 / 10 / 8 / 11; }
        .div25 { grid-area: 12 / 2 / 13 / 9; }
        .div26 { grid-area: 12 / 10 / 13 / 12; }
        .div27 { grid-area: 9 / 9 / 10 / 10; }
        .div28 { grid-area: 7 / 2 / 8 / 3; }
        .div29 { grid-area: 9 / 7 / 10 / 8; }


        .div30 { margin-top: 0.9375rem;grid-area: 3 / 1 / 4 / 2; width: 3.125rem; height: 3.125rem; }
        .div30 img { width: 100%; height: 100%;}

        .div31 {margin-top: 0.9375rem; grid-area: 3 / 11 / 4 / 12; width: 3.125rem; height: 3.125rem;}
        .div31 img { width: 100%; height: 100%;}

        .div32 { margin-left: 3.125rem; grid-area: 6 / 2 / 7 / 3; width: 3.125rem; height: 3.125rem;}
        .div32 img { width: 100%; height: 100%;}

        .div33 { margin-left: 3.125rem; grid-area: 6 / 10 / 7 / 11; width: 3.125rem; height: 3.125rem;}
        .div33 img { width: 100%; height: 100%;}

        .div34 { margin-top: 0.9375rem;grid-area: 7 / 11 / 8 / 12; width: 3.125rem; height: 3.125rem;}
        .div34 img { width: 100%; height: 100%;}

        .div35 { margin-left: 3.125rem; grid-area: 4 / 8 / 5 / 9; width: 3.125rem; height: 3.125rem;}
        .div35 img {width: 100%; height: 100%;}

        .div36 { margin-left:3.125rem;grid-area: 9 / 8 / 10 / 9; width: 3.125rem; height: 3.125rem;}
        .div36 img {  width: 100%; height: 100%;}

        .div37 {  margin-left:3.125rem;grid-area: 12 / 1 / 13 / 2; width: 3.125rem; height: 3.125rem;}
        .div37 img { width: 100%; height: 100%;}

        .div38 { margin-left:3.125rem; grid-area: 12 / 9 / 13 / 10; width: 3.125rem; height: 3.125rem;}
        .div38 img { width: 100%; height: 100%;}

        .div39 { margin-top: 0.9375rem;grid-area: 9 / 1 / 10 / 2; width: 3.125rem; height: 3.125rem;}
        .div39 img { width: 100%; height: 100%;}

        .div40 { margin-top: 0.9375rem;grid-area: 9 / 10 / 10 / 11; width: 3.125rem; height: 3.125rem;}
        .div40 img { width: 100%; height: 100%;}

        .exclamacao {
            display: none;
            position: absolute; /* Posição absoluta */
            top: -20px;
            left: 15px;
            width: 20px;
            height: 20px;
            z-index: 9999; /* Z-index alto para sobrepor outros elementos */
        }